<div class="container">
    <h1>Template Driven Forms</h1>
    <form #contactForm="ngForm" (ngSubmit)="getFormData(contactForm)">
        <p>
            <label>FirstName</label>
            <input type="text" class="form-control w-50" name="firstName" ngModel>
        </p>
        <p>
            <label>LastName</label>
            <input type="text" class="form-control w-50" name="lastName" ngModel>
        </p>
        <p>
            <label>Email</label>
            <input type="text" class="form-control w-50" name="email" ngModel>
        </p>
        <p>
            <label>Gender</label> &nbsp;&nbsp;
            <input type="radio" class="form-check-input" value="female" name="gender" ngModel> Female
            <input type="radio" class="form-check-input" value="male" name="gender" ngModel> Male

        </p>
        <p>
            <label>IsAdmin</label> &nbsp;&nbsp;
            <input type="checkbox" class="form-check-input" name="isAdmin" ngModel>
        </p>
        <p>
            <label>Country</label>
            <select class="form-select" name="country" ngModel>
                <option value=""></option>
                <option [ngValue]="country.id" *ngFor="let country of countryList">
                    {{country.name}}
                </option>
            </select>
        </p>
        <div ngModelGroup="address">
            <p>
                <label>City</label>
                <input type="text" class="form-control w-50" name="city" ngModel>
            </p>
            <p>
                <label>State</label>
                <input type="text" class="form-control w-50" name="state" ngModel>
            </p>
            <p>
                <label>Pincode</label>
                <input type="text" class="form-control w-50" name="pincode" ngModel>
            </p>
        </div>
        <p>
            <label>Comments</label>
            <textarea class="form-control" name="comments" ngModel></textarea>
        </p>
        <br><br>
        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form>
</div>

