<!-- 
<div class="container">
   <h1>{{interPolation}}</h1> 
   <h4> FullName is : {{firstName}} {{lastName}} </h4>
   {{1+1}}
   {{true}}
   {{person.name}}
</div>
<br><br>
<div class="container">
  <h1>{{propertyBinding}}</h1>
  <h1 [innerText]="innerText"></h1>
  <h2>This is without property Binding</h2>
  <button [disabled]="isDisabled" class="btn btn-primary">I am disabled</button><br>
  <a [href]="url" target="_blank">Angular CLI</a>
</div>
<div class="container">
  <h1>{{eventBinding}}</h1>
  <button class="btn btn-primary" (click)="clickMe()">Click Me</button>
  <p>You have clicked {{counter}}</p>
</div>
<div class="container">
  <h1>{{twoWayDataBinding}}</h1>
  <input type="text" class="form-control w-50" [(ngModel)]="fName"> <br>
  <input type="text" class="form-control w-50" [(ngModel)]="lName">
  <p>
    {{getFullName()}}
  </p>
</div>
<br><br><br><br><br><br> -->

<!-- <app-directive></app-directive> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-class> </app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <div class="container">
  <h2>Using Custom Directives</h2>
  <div appCustom>
    This is Content
  </div>
</div>
<div class="container">
  <h1 appEmoji="emoji 😎 🐶">Welcome to Anular</h1>
</div> -->
<!-- <div class="container">
  <app-pipe></app-pipe>
</div> -->

<!-- <div class="container">
  <app-parent></app-parent>
</div> -->

<!-- <div class="container">
  <app-parent-one></app-parent-one>
</div> -->

<!-- <div class="container">
  <h2>Parent used local variable to access child</h2>
  <app-parent-two></app-parent-two>
</div> -->
<!-- 
<div class="container">
  <h2>Using View Child</h2>
  <app-parent-three></app-parent-three>
</div> -->

<!-- <div class="container">
  <h2>Life Cycle Methods</h2>
  <app-life-cycle-hooks [city]="'Boston'"></app-life-cycle-hooks>
</div> -->

<!-- <div class="container">
  <app-parent-customer></app-parent-customer>
</div> -->

<!-- <div class="container">
  <app-parent-destroy></app-parent-destroy>
</div> -->

<!-- <div class="container">
  <app-template-driven-form></app-template-driven-form>
</div> -->
<!-- <div class="container">
  <app-reactive-form></app-reactive-form>
</div> -->

<!-- <div class="container">
  <app-product></app-product>
</div> -->
<!-- 
<div class="container">
  <app-todo></app-todo>
</div> -->

<!-- <div class="container">
  <app-user></app-user>
  <ul>
    <li>
      <a [routerLink]="['products']">Products</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet> -->


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink]="['/']" class="navbar-brand">Angular Routing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLink]="['home']">Home</a>
        <a [routerLink]="['users']">Users</a>
        <a [routerLink]="['products']">Products</a>
        <a [routerLink]="['contact']">Contact</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand">Angular Routing</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['users']">Users</a>
        </li>
        <li>
          <a [routerLink]="['products']">Products</a>
        </li>
        <li>
          <a [routerLink]="['contact']">Contact</a>
        </li>
      </ul>
    </div>
  </nav> 
  <router-outlet></router-outlet> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="['/']" class="navbar-brand">Angular Routing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['users']">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['products']">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> -->
  <div class="container">
   <app-people></app-people>
  </div>
